.movie-main{
      background: #525252;   
      padding-top: 40px;
}
.movie-filter{
    background: #525252;   
}
.movie-list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap: 0px 0px;
    justify-content: center;
    background: #525252;  
 
}
.movie-pagination{
    padding-top: 50px;
    padding-bottom: 80px;
}